.favorites{
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}
.favorites h2{
    margin: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: #e7e5e5;
    text-shadow: 2px 2px 4px rgba(0,0,0.3);
}
.favorites-ampty{
    text-align: center;
    padding: 4rem 2rem;
    background-color: rgb(255, 255, 255,0.05);
    border-radius: 12px;
    margin: 2rem auto;
    max-width: 600px;
}
.favorites-ampty h2{
    margin-bottom:1rem ;
    font-size: 3rem;
    color: #d31818;
}
.favorites-ampty p{
    color: #999;
    font-size: 1.2rem;
    line-height: 1.6;

}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.movie-grids{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap:10px;
    padding: 20px;
    justify-content: center;
}